{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block content %}

<div class="container">
    {% for object in objects_list %}
 <div class="row text-start">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ object.preview|mediapath }}"
                     alt="Card image cap">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">Название: <b>{{ object.name }}</b></p>
                <p class="card-text">{{ object.category }}</p>
                <p class="card-text">Цена: {{ object.purchase_price|floatformat:2 }} руб.</p>
                <p class="card-text">Описание модели: {{ object.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'catalog:contacts' %}" type="button" class="btn btn-sm btn-outline-secondary">Оставить заявку на покупку</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}