{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<div class="row">
    <div class="col-12 mb-5">
        <a href="{% url 'catalog:product_create' category_pk %}" type="button"
           class="btn btn-outline-success">Создать</a>
    </div>
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ object.preview|mediapath }}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{ object.name }}</p>
                <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                <li>
                    Версия: {% for version_item in object.version_set.all %}
                    {% if version_item.is_valid %}
                    {{ version_item.version_name }}
                    {% endif %}
                    {% endfor %}
                </li>
            </div>
            <div class="card-footer">
                <a href="{% url 'catalog:position' object.pk %}" type="button" class="btn btn-success">Просмотр</a>
                <a href="{% url 'catalog:product_update' object.pk %}" type="button"
                   class="btn btn-warning">Изменить</a>
                <a href="{% url 'catalog:product_delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}